<template>
 <div>
   <QRModal @onGetResult="onGetQRResult($event)"/>
  <b-jumbotron class="pb-3">
    <template #header>
      <b-row>
        <b-col md="8">Add Invoice</b-col>
        <b-col md="4">
          <blockquote class="blockquote mt-3" v-if="!!invoice.member">
            <p class="mb-0 h1 font-weight-light">{{(invoice.member.first_name||'First Name') +' '+(invoice.member.last_name||'Last Name')}}</p>
            <footer class="blockquote-footer">Current Balance: <span class="h3 font-weight-light">{{getCurrencyFormat(invoice.member.balance, '') || '0000.00'}}</span> Birr</footer>
          </blockquote>
        </b-col>
      </b-row>
    </template>
    <hr>
    <b-row class="py-4">
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Category" label-size="sm">
            <v-select :options="categories" v-model="category" label="name" :reduce="categories => categories._id" placeholder="Select Category"></v-select>
        </b-form-group>
      </b-col>
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Product" label-size="sm" :disabled="!category">
            <v-select :options="onGetCatergoryProducts(category? category: null)" v-model="product" label="name" placeholder="Select Product"></v-select>
        </b-form-group>
      </b-col>
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Quantity" label-size="sm">
          <b-input-group size="sm">
            <b-form-input v-model="qty" min="1" type="number" placeholder="Enter Quantity of the product"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="3" class="mt-4">
        <b-button size="sm" block @click="onAddProduct(product, qty, $event)" :disabled="!(product && qty)" style="padding-bottom:6px; padding-top:6px;" class="mt-2" variant="warning">Add Product</b-button>
      </b-col>
      <b-col md="3" class="my-2">
        <b-form-group class="mb-2" label="Member" label-size="sm">
            <v-select :options="members" v-model="invoice.member" label="first_name" placeholder="Select Member">
              <template #selected-option="{ first_name, last_name }">
                {{ first_name +' '+ last_name}}
              </template>
              <template v-slot:option="option">
                {{ option.first_name +' '+ option.last_name}}
              </template>
            </v-select>
        </b-form-group>
      </b-col>
      <b-col md="3" class="my-2">
        <b-form-group class="mb-2" label="QR Code" label-size="sm">
          <b-button size="sm" block @click="$bvModal.show('bv-modal-qr')" variant="danger"><b-icon icon="upc-scan"></b-icon> Scan QR Code</b-button>
        </b-form-group>
      </b-col>
      <b-col :md="invoice.completed ? 6 : 3" class="my-2"></b-col>
      <b-col md="3" class="mt-4">
        <b-button size="sm" :disabled="!isInvoiceValid()" block @click="onAddInvoice($event)" style="padding-bottom:6px; padding-top:6px;" class="mt-2" variant="success"><strong>Submit Invoice</strong></b-button>
      </b-col>
    </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="invoiceError.length > 0" @dismissed="$store.commit('CLEAR_INVOICE_ERROR')">{{invoiceError}}</b-alert>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="invoiceStatus=='loading'"
      stacked="md"
      :items="invoice.products"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(price)="row">
        {{row.item.product.cost }} Birr
      </template>

      <template #cell(qty)="row">
        x{{ row.item.qty }}
      </template>

      <template #cell(subtotal)="row">
        {{ getCurrencyFormat(row.item.qty*row.item.product.cost) }}
      </template>

      <template #cell(name)="row">
        {{ row.item.product.name }}
      </template>

      <template #cell(category)="row">
        {{ row.item.product.category.name }}
      </template>

      <template #cell(actions)="row">
        <b-button variant="warning" @click="onMinusProduct(row.item, $event)" class="mr-2"><b-icon icon="dash-circle-fill"/></b-button>
        <b-button variant="danger" @click="onRemoveProduct(row.item, $event)" class="mr-2"><b-icon icon="trash"/></b-button>
        <b-button @click="onPlusProduct(row.item, $event)" variant="success"><b-icon icon="plus-circle-fill"></b-icon></b-button>
      </template>

    </b-table>
    <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import QRModal from '../../components/QRModal'
import cf from 'currency-formatter'
export default {
  name: 'Invoices',
  components: {
    QRModal
  },
  data () {
    return {
      fields: [
        { key: 'category', label: 'Category', sortable: true, sortDirection: 'desc' },
        { key: 'name', label: 'Item', sortable: true },
        { key: 'qty', label: 'Quantity', sortable: true },
        { key: 'price', label: 'Unit Price', sortable: true },
        { key: 'subtotal', label: 'Subtotal', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      invoice: {
        member: '',
        products: [],
        total_cost: null,
        sentPin: ''
      },
      category: '',
      product: '',
      qty: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['categories', 'invoiceError', 'invoiceStatus', 'members', 'products'])
  },
  methods: {
    ...mapActions(['addInvoice', 'addCategories', 'deleteInvoice', 'updateInvoice']),
    info (id) {
      this.$router.push({ path: `/invoice/${id}` })
    },
    // import cf from 'currency-formatter'
    getCurrencyFormat (value, symbol = 'Birr') {
      return cf.format(value, { symbol: symbol, decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    setPin (event) {
      if (event !== null) {
        console.log('onGetValidPin', event)
        this.invoice.sentPin = event
      }
    },
    onGetQRResult (event) {
      if (event !== null) {
        const mem = this.members.filter(f => f._id === event)
        console.log(mem)
        if (mem.length > 0) {
          this.invoice.member = mem[0]
        }
      }
    },
    getMessageBody (invoice) {
      if (invoice.member) {
        let message = `Dear ${invoice.member.first_name},%0aYou have purchased these products%0a`
        for (const product of invoice.products) {
          message += `> ${product.product.name} (x${product.qty})%0a`
        // console.log('getMessageBody', message)
        }
        message += `Total = ${invoice.total_cost}`
        return `${invoice.member.phone_number}?body=${message}%0aDate: ${invoice.date_created}`
      }
    },
    isInvoiceValid () {
      return !!this.invoice.member && this.invoice.products.length > 0
    },
    onAddProduct (product, qty, event) {
      event.preventDefault()
      if (product && qty) {
        this.invoice.total_cost += parseInt(product.cost) * parseInt(qty)
        if (this.invoice.products.filter(sp => sp.product._id === product._id).length > 0) {
          this.invoice.products.map(sp => {
            if (sp.product._id === product._id) {
              sp.qty = parseInt(sp.qty) + parseInt(qty)
              return sp
            } else return sp
          })
        } else {
          this.invoice.products.unshift({ product, qty })
          this.totalRows = this.invoice.products.length
        }
      }
      this.qty = ''
      this.product = ''
      this.category = ''
    },
    onMinusProduct (row, event) {
      event.preventDefault()
      if (row) {
        if (row.qty >= 2) this.invoice.total_cost -= row.product.cost
        const _filter = this.invoice.products.filter(sp => sp.product._id === row.product._id)
        if (_filter.length > 0 && row.qty >= 2) {
          this.invoice.products.map(sp => {
            if (sp.product._id === row.product._id) {
              sp.qty = parseInt(sp.qty) - 1
              return sp
            } else return sp
          })
        } else {
          this.invoice.products = this.invoice.products.filter(f => f.product._id !== row.product._id)
        }
      }
    },
    onPlusProduct (row, event) {
      event.preventDefault()
      if (row) {
        this.invoice.total_cost += row.product.cost
        const _filter = this.invoice.products.filter(sp => sp.product._id === row.product._id)
        if (_filter.length > 0) {
          this.invoice.products.map(sp => {
            if (sp.product._id === row.product._id) {
              sp.qty = parseInt(sp.qty) + 1
              return sp
            } else return sp
          })
        }
      }
    },
    onRemoveProduct (invoice, event) {
      event.preventDefault()
      if (invoice._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to remove ${invoice.product.name} Product!`,
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'No',
          confirmButtonText: 'Yes'
        }).then(async (result) => {
          if (result.value) {
            if (invoice.product && invoice.qty) {
              this.invoice.total_cost -= parseInt(invoice.product.cost) * parseInt(invoice.qty)
              this.invoice.products = this.invoice.products.filter(f => f.product._id !== invoice.product._id)
              this.$swal('Deleted!', `Your ${invoice.product.name} has been deleted.`, 'success')
            }
          //   if (!this.invoiceError) {
          //   } else { this.$swal.showValidationMessage(`Request failed: ${this.invoiceError}`) }
          //   this.onRestart()
          }
        })
      }
    },
    onAddInvoice (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      this.addInvoice(this.invoice)
      this.invoice = {
        member: '',
        products: [],
        total_cost: null,
        sentPin: ''
      }
    },
    onGetCatergoryProducts (id) {
      if (id) return this.products.filter(f => f.category._id === id)
      else return []
    }
  },
  created () {
    this.$store.dispatch('getAllProduct')
    this.$store.dispatch('getAllMember')
    this.$store.dispatch('getAllCategory')
  }

}
</script>
