<template>
 <div>
  <b-jumbotron class="pb-3">
      <b-row>
        <b-col md="6">
          <p>
            <span class="display-3">Invoice</span> <br>
            <span class="lead">Invoice Number: #INV00{{invoice.invoice_no}}</span><br>
            <b-button size="lg" variant="info" :disabled="!isInvoiceValid()" @click="onPayBill(invoice, $event)">Pay The Bill</b-button>
          </p>
        </b-col>
        <b-col md="6">
          <blockquote class="blockquote float-right" v-if="!!invoice.member">
            <p class="mb-0 display-4">{{(invoice.member.first_name||'First Name') +' '+(invoice.member.last_name||'Last Name')}}</p>
            <footer class="blockquote-footer">Current Balance: <cite>{{invoice.member.balance || '0000.00'}} Birr</cite><br>
            <span class="lead">Status: {{invoice.completed ? 'PAID/COMPLETED': 'PENDING'}}</span>
            </footer>
          </blockquote>
        </b-col>
      </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="invoiceError.length > 0"  @dismissed="$store.commit('CLEAR_INVOICE_ERROR')">{{invoiceError}}</b-alert>

    <b-row class="my-2">
      <b-col sm="6"></b-col>
      <b-col sm="6">
        <blockquote class="blockquote float-right text-right" v-if="!!invoice.gross">
            <span class="text-muted font-weight-light small">Gross: <span class="text-muted font-weight-light lead">{{ getCurrencyFormat(invoice.gross) || '0000.00' }}</span> Birr</span><br>
            <footer class="blockquote-footer">
              Discount: <span class="lead">{{ getCurrencyFormat(invoice.discount) || '0000.00' }}</span> Birr<br>
            <span class="display-4">Total: {{ getCurrencyFormat(invoice.total_cost) || '0000.00' }}</span> Birr
            </footer>
          </blockquote>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="invoiceStatus=='loading'"
      stacked="md"
      :items="invoice.products"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(price)="row">
        {{ getCurrencyFormat(row.item.product.cost) }}
      </template>

      <template #cell(qty)="row">
        x{{ row.item.qty }}
      </template>

      <template #cell(subtotal)="row">
        {{ getCurrencyFormat(row.item.qty*row.item.product.cost) }}
      </template>

      <template #cell(name)="row">
        {{ row.item.product.name }}
      </template>

      <template #cell(category)="row">
        {{ row.item.product.category.name }}
      </template>

    </b-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Invoice from '../../api/Invoice'
import cf from 'currency-formatter'
export default {
  name: 'Invoices',
  data () {
    return {
      fields: [
        { key: 'category', label: 'Category', sortable: true, sortDirection: 'desc' },
        { key: 'name', label: 'Item', sortable: true },
        { key: 'qty', label: 'Quantity', sortable: true },
        { key: 'price', label: 'Unit Price', sortable: true },
        { key: 'subtotal', label: 'Subtotal', sortable: true }
      ],
      computedValue: {
        discount: 0,
        gross: 0
      },
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc'
    }
  },
  computed: {
    ...mapGetters(['invoice', 'invoiceError', 'invoiceStatus', 'authUser'])
  },
  mounted () {
    // if (this.invoice.products) this.getDiscount()
  },
  methods: {
    ...mapActions(['billingInvoice']),
    setPin (event) {
      if (event !== null) {
        console.log('onGetValidPin', event)
        this.invoice.sentPin = event
      }
    },
    // import cf from 'currency-formatter'
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: '', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    isInvoiceValid () {
      return !!this.invoice.member && this.invoice.products.length > 0 && !this.invoice.completed && !!this.authUser
    },
    onPayBill (invoice, envent) {
      this.$swal({
        html: '<input id="swal-input1" type="password" readonly placeholder="Enter Your Pin" onfocus="this.removeAttribute(\'readonly\');" class="swal2-input">',
        showCancelButton: true,
        cancelButtonText: 'No',
        confirmButtonText: 'Yes',
        preConfirm: () => {
          const pin = document.getElementById('swal-input1').value
          if (pin) {
            invoice.sentPin = pin
            invoice.operator = this.authUser
            return Invoice.payBill(invoice).then(value => {
              if (!!value.data.error || !!value.data.msg) {
                throw new Error(value.data.error ? value.data.error.message : value.data.msg)
              }
              return value
            }).catch(err => {
              document.getElementById('swal-input1').value = ''
              this.$swal.showValidationMessage(`Request failed: ${err}`)
            })
          } else {
            document.getElementById('swal-input1').value = ''
            this.$swal.showValidationMessage('Please Enter your pin first')
          }
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then((result) => {
        if (result.isConfirmed) {
          const value = result.value
          if (result.value.statusText === 'OK') {
            if (!!value.data.error || !!value.data.msg) this.invoiceError = value.data.error ? value.data.error.message : value.data.msg
            else {
              this.invoice = result.value.data.invoice
              this.$swal({
                icon: 'success',
                title: 'Your payment has been Successfull!',
                showConfirmButton: false,
                timer: 1500
              })
              this.$store.dispatch('getInvoice', this.$route.params.id)
            }
          }
        }
      })
    }
  },
  created () {
    this.$store.dispatch('getInvoice', this.$route.params.id)
  }

}
</script>
