<template>
 <div>
  <b-jumbotron :header="category.name" class="pb-0">
    <hr>
    <b-row class="py-4">
      <b-col sm="6" class="my-2">
        <b-form-group class="mb-2" label="Name" label-size="sm" label-for="product_name">
          <b-input-group size="sm">
            <b-form-input id="product_name" v-model="product.name" placeholder="Enter Product Name"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col sm="6" class="my-2">
        <b-form-group class="mb-2" label="Cost" label-size="sm" label-for="product_name">
          <b-input-group size="sm">
            <b-form-input v-model="product.cost" type="number" placeholder="Enter Product Cost"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="3" sm="6" >
        <b-button size="sm" :disabled="!isProductValid(product)" block @click="onAddProduct($event)" class="my-2 my-md-1" variant="success">Add New Product</b-button>
      </b-col>
    </b-row>
  </b-jumbotron>
     <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="categoryError.length > 0"  @dismissed="$store.commit('CLEAR_CATEGORY_ERROR')">{{categoryError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col lg="8" sm="6"></b-col>
      <b-col lg="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="categoryStatus=='loading'"
      stacked="md"
      :items="categoryProducts"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(category)="row">
        {{ row.value.name }}
      </template>

      <template #cell(cost)="row">
        {{ getCurrencyFormat(row.item.name) }}
      </template>

      <template #cell(actions)="row">
        <b-button :variant="row.detailsShowing ? 'danger': 'warning'" @click="row.toggleDetails" class="mr-2"><b-icon :icon="row.detailsShowing ? 'x-circle-fill': 'pencil-square'"/></b-button>
        <b-button variant="danger" @click="onDeleteProduct(row.item, $event)"><b-icon icon="trash"/></b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <blockquote class="blockquote">
            <p class="mb-0">You are about to update the product value</p>
            <footer class="blockquote-footer">please make sure <cite>before you update</cite></footer>
          </blockquote>
          <b-form inline>
            <b-col><v-select :options="categories" v-model="row.item.category" label="name" :reduce="category => category._id" ></v-select></b-col>
            <label class="sr-only" for="inline-form-input-name">Product Name</label>
              <b-input
                id="inline-form-input-name"
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Product Name"
                v-model="row.item.name"
              ></b-input>

              <label class="sr-only" for="inline-form-input-cost">Product Cost</label>
              <b-input-group prepend="Birr" class="mb-2 mr-sm-2 mb-sm-0">
                <b-input id="inline-form-input-cost" placeholder="Product Cost" v-model="row.item.cost"></b-input>
              </b-input-group>
              <b-button variant="primary" @click="onUpdateProduct(row, $event)">Update</b-button>
          </b-form>
        </b-card>
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1"></b-col>
      <b-col md="3" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="3" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import cf from 'currency-formatter'
export default {
  name: 'Categories',
  data () {
    return {
      fields: [
        { key: 'name', label: 'Product Name', sortable: true, sortDirection: 'desc' },
        { key: 'cost', label: 'Product Cost' },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      product: {},
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['category', 'categories', 'categoryProducts', 'categoryError', 'categoryStatus'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.categoryProducts.length
  },
  methods: {
    ...mapActions(['updateProduct', 'addProduct', 'deleteProduct']),
    // import cf from 'currency-formatter'
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    isProductValid (product) {
      return !!product.name && !!product.cost
    },
    onUpdateProduct (row, event) {
      const _product = row.item
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (_product.name && _product.cost && _product.category) {
        this.updateProduct(_product)
        row.toggleDetails()
      }
    },
    onAddProduct (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      this.product.category = this.category._id
      if (this.product.name && this.product.cost && this.product.category) {
        this.addProduct(this.product)
        this.product = {}
        this.onRestart()
      }
    },
    onDeleteProduct (product, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (product._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${product.name} Tier!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteProduct(product._id)
            if (!this.productError) {
              this.$swal('Deleted!', `Your ${product.name} Product has been deleted.`, 'success')
            } else { this.$swal('Oops..', `Request failed: ${this.productError}`, 'error') }
            this.onRestart()
          }
        })
      }
    },
    onRestart () {
      this.$store.dispatch('getCategory', this.$route.params.id)
      this.$store.dispatch('getAllCategory')
      this.$store.dispatch('getCategoryProducts', this.$route.params.id)
    }
  },
  created () {
    this.onRestart()
  }

}
</script>
