<template>
 <div>
   <QRModal @onGetResult="onGetQRResult($event)"/>
  <b-jumbotron class="pb-3">
      <b-row>
        <b-col md="6">
          <p>
            <span class="display-3">Invoice</span> <br>
            <span class="lead">Invoice Number: #INV00{{invoice.invoice_no}}</span><br>
            <span class="caution" v-if="invoice.operator">Processed By: @{{invoice.operator}}</span>
          </p>
        </b-col>
        <b-col md="6">
          <blockquote class="blockquote float-right" v-if="!!invoice.member">
            <p class="mb-0 display-4">{{(invoice.member.first_name||'First Name') +' '+(invoice.member.last_name||'Last Name')}}</p>
            <footer class="blockquote-footer">Current Balance: <span class="h2 font-weight-light">{{getCurrencyFormat(invoice.member.balance, '') || '0000.00'}}</span> Birr</footer>
            <footer class="blockquote-footer">Status: <span class="h5 font-weight-light">{{invoice.completed ? 'PAID/COMPLETED': 'PENDING'}}</span></footer>
          </blockquote>
        </b-col>
      </b-row>
    <hr>
    <b-row class="py-4">
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Category" label-size="sm">
            <v-select :options="categories" v-model="category" label="name" :reduce="categories => categories._id"  placeholder="Select Category"></v-select>
        </b-form-group>
      </b-col>
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Product" label-size="sm" :disabled="!category">
            <v-select :options="onGetCatergoryProducts(category? category: null)" v-model="product" label="name" placeholder="Select Product"></v-select>
        </b-form-group>
      </b-col>
      <b-col lg="3" class="my-2">
        <b-form-group class="mb-2" label="Quantity" label-size="sm">
          <b-input-group size="sm">
            <b-form-input v-model="qty" min="1" type="number" placeholder="Enter Quantity of the product"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="3" class="mt-4">
        <b-button size="sm" block @click="onAddProduct(product, qty, $event)" :disabled="!(product && qty && !invoice.completed)" style="padding-bottom:6px; padding-top:6px;" class="mt-2" variant="warning">Add Product</b-button>
      </b-col>

      <b-col md="3" class="my-2" v-if="!invoice.completed">
        <b-form-group class="mb-2" label="Change Member" label-size="sm">
          <b-button size="sm" block @click="$bvModal.show('bv-modal-qr')" variant="danger"><b-icon icon="upc-scan"></b-icon> Scan QR Code</b-button>
        </b-form-group>
      </b-col>

    <b-col v-if="invoice.completed" md="9" class="my-2"></b-col>
    <b-col md="3" class="mt-4">
        <b-button size="sm" :disabled="!isInvoiceValid()" block @click="onUpdateInvoice($event)" style="padding-bottom:6px; padding-top:6px;" class="mt-2" variant="success"><strong>Update Invoice</strong></b-button>
      </b-col>
    </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="invoiceError.length > 0" @dismissed="$store.commit('CLEAR_INVOICE_ERROR')">{{invoiceError}}</b-alert>

    <b-row class="my-2">
      <b-col md="8" sm="6"></b-col>
      <b-col md="4" sm="6">
        <b-button v-if="!invoice.completed" block variant="info" @click="onGoToPayment($event)">Pay Bill <b-icon icon="arrow-down-up"/></b-button>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="invoiceStatus=='loading'"
      stacked="md"
      :items="invoice.products"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(price)="row">
        {{ getCurrencyFormat(row.item.product.cost) }}
      </template>

      <template #cell(qty)="row">
        x{{ row.item.qty }}
      </template>

      <template #cell(subtotal)="row">
        {{ getCurrencyFormat(row.item.qty*row.item.product.cost) }}
      </template>

      <template #cell(name)="row">
        {{ row.item.product.name }}
      </template>

      <template #cell(category)="row">
        {{ row.item.product.category.name }}
      </template>

      <template #cell(actions)="row">
        <div v-if="!invoice.completed">
          <b-button variant="warning" @click="onMinusProduct(row.item, $event)" class="mr-2"><b-icon icon="dash-circle-fill"/></b-button>
          <b-button variant="danger" @click="onRemoveProduct(row.item, $event)" class="mr-2"><b-icon icon="trash"/></b-button>
          <b-button @click="onPlusProduct(row.item, $event)" variant="success"><b-icon icon="plus-circle-fill"></b-icon></b-button>
        </div>
      </template>

    </b-table>
    <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import QRModal from '../../components/QRModal'
import cf from 'currency-formatter'
export default {
  name: 'Invoices',
  components: {
    QRModal
  },
  data () {
    return {
      fields: [
        { key: 'category', label: 'Category', sortable: true, sortDirection: 'desc' },
        { key: 'name', label: 'Item', sortable: true },
        { key: 'qty', label: 'Quantity', sortable: true },
        { key: 'price', label: 'Unit Price', sortable: true },
        { key: 'subtotal', label: 'Subtotal', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      category: '',
      product: '',
      qty: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['invoice', 'categories', 'invoiceError', 'invoiceStatus', 'members', 'products'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.invoice.products.length
  },
  methods: {
    ...mapActions(['updateInvoice']),
    setPin (event) {
      if (event !== null) {
        console.log('onGetValidPin', event)
        this.invoice.sentPin = event
      }
    },
    // import cf from 'currency-formatter'
    getCurrencyFormat (value, symbol = 'Birr') {
      return cf.format(value, { symbol: symbol, decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    isInvoiceValid () {
      return !!this.invoice.member && this.invoice.products.length > 0 && !this.invoice.completed
    },
    onGetQRResult (event) {
      if (event !== null) {
        const mem = this.members.filter(f => f._id === event)
        console.log(mem)
        if (mem.length > 0) {
          this.invoice.member = mem[0]
        }
      }
    },
    onGoToPayment (event) {
      event.preventDefault()
      this.$router.push(`bill/${this.invoice._id}`)
    },
    onAddProduct (product, qty, event) {
      event.preventDefault()
      if (product && qty) {
        this.invoice.total_cost += parseInt(product.cost) * parseInt(qty)
        if (this.invoice.products.filter(sp => sp.product._id === product._id).length > 0) {
          this.invoice.products.map(sp => {
            if (sp.product._id === product._id) {
              sp.qty = parseInt(sp.qty) + parseInt(qty)
              return sp
            } else return sp
          })
        } else this.invoice.products.unshift({ product, qty })
      }
      this.qty = ''
      this.product = ''
      this.category = ''
    },
    onMinusProduct (row, event) {
      event.preventDefault()
      if (row) {
        if (row.qty >= 2) this.invoice.total_cost -= row.product.cost
        const _filter = this.invoice.products.filter(sp => sp.product._id === row.product._id)
        if (_filter.length > 0 && row.qty >= 2) {
          this.invoice.products.map(sp => {
            if (sp.product._id === row.product._id) {
              sp.qty = parseInt(sp.qty) - 1
              return sp
            } else return sp
          })
        } else {
          this.invoice.products = this.invoice.products.filter(f => f.product._id !== row.product._id)
        }
      }
    },
    onPlusProduct (row, event) {
      event.preventDefault()
      if (row) {
        this.invoice.total_cost += row.product.cost
        const _filter = this.invoice.products.filter(sp => sp.product._id === row.product._id)
        if (_filter.length > 0) {
          this.invoice.products.map(sp => {
            if (sp.product._id === row.product._id) {
              sp.qty = parseInt(sp.qty) + 1
              return sp
            } else return sp
          })
        }
      }
    },
    onRemoveProduct (product, event) {
      event.preventDefault()
      if (product.product._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to remove ${product.product.name} Product!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(async (result) => {
          if (result.value) {
            if (product.product && product.qty) {
              this.invoice.total_cost -= parseInt(product.product.cost) * parseInt(product.qty)
              this.invoice.products = this.invoice.products.filter(f => f.product._id !== product.product._id)
              this.$swal('Removed!', `Your ${product.product.name} Product has been removed.`, 'success')
            }
          }
        })
      }
    },
    onUpdateInvoice (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      this.updateInvoice(this.invoice)
    },
    onGetCatergoryProducts (id) {
      if (id) return this.products.filter(f => f.category._id === id)
      else return []
    }
  },
  created () {
    this.$store.dispatch('getAllProduct')
    this.$store.dispatch('getAllMember')
    this.$store.dispatch('getInvoice', this.$route.params.id)
    this.$store.dispatch('getAllCategory')
  }

}
</script>
