<template>
 <div>
   <ChangePin :member="member._id"/>
  <b-jumbotron class="pb-2">
    <blockquote class="blockquote" v-if="member">
      <p class="mb-0 display-4">{{(member.first_name||'First Name') +' '+(member.last_name||'Last Name')}}</p>
      <footer class="blockquote-footer">Current Balance: <span class="h2 font-weight-light">{{getCurrencyFormat(member.balance, '') || '0000.00'}}</span> Birr</footer>
    </blockquote>
    <hr class="my-4">
    <!-- <p>
      Currently you are using <strong>{{member.tier.name}} Tier (<em>{{member.tier.cost}} Birr</em>)</strong> and you spent about <strong><em>{{member.tier.cost - member.balance}} Birr or {{((member.tier.cost - member.balance)*100)/member.tier.cost}}%</em></strong>. to recharge your account please click <strong>Change Tier</strong>.
    </p> -->
    <b-row>
      <b-col md="6" lg="4" class="mb-2">
        <b-input id="inline-form-input-name" class="mb-2 mr-sm-2 mb-sm-0" placeholder="First Name" v-model="member.first_name"></b-input>
      </b-col>
      <b-col md="6" lg="4" class="mb-2">
        <b-input id="inline-form-input-name" class="mb-2 mr-sm-2 mb-sm-0" placeholder="Last Name" v-model="member.last_name"></b-input>
      </b-col>
      <b-col md="6" lg="4" class="mb-2">
        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
          <b-input-group-prepend><b-button disabled><b-icon icon="telephone-fill" ></b-icon></b-button></b-input-group-prepend>
          <b-input id="inline-form-input-cost" placeholder="Phone Number" v-model="member.phone_number"></b-input>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="3" class="mb-2"><b-button block variant="primary" href="#" class="mb-3 mr-4" @click="showCahngePinModal(member)">Change Pin</b-button></b-col>
      <b-col lg="2" md="3" class="mb-2">
        <b-button block :disabled="!checkForUpdate()" variant="warning" @click="onUpdateMember(member, $event)">Update</b-button>
      </b-col>
    </b-row>
   </b-jumbotron>

    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="memberError.length > 0" @dismissed="$store.commit('CLEAR_MEMBER_ERROR', '')">{{memberError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col md="8" sm="6"></b-col>
      <b-col md="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
   <b-table
      show-empty
      outlined
      head-variant="dark"
      striped
      :busy="memberStatus=='loading'"
      stacked="md"
      :items="memberInvoices"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

      <template #cell(invoice_no)="row">
        INV00{{ row.item.invoice_no }}
      </template>

      <template #cell(status)="row">
        {{ row.item.completed? 'COMPLETED': 'PENDING' }}
      </template>

      <template #cell(date_created)="row">
        {{ getDate(row.item.date_created).format('ddd, MMM Do YYYY') }}
      </template>

      <template #cell(total_cost)="row">
        {{ getCurrencyFormat(row.item.total_cost) }}
      </template>

      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(actions)="row">
        <b-button :variant="!row.item.completed? 'warning':'primary'" @click="info(row.item._id)" class="mr-2"><b-icon :icon="!row.item.completed? 'pencil-square' : 'arrows-fullscreen'"/></b-button>
        <b-button variant="danger" :disabled="row.item.completed" @click="onDeleteInvoice(row.item, $event)" class="mr-2"><b-icon icon="trash"/></b-button>
        <b-button size="sm" :href="'sms://'+ getMessageBody(row.item)" variant="success" class="mx-1 px-2">
          <b-icon icon="envelope-fill" aria-hidden="true"></b-icon>
        </b-button>
      </template>

    </b-table>
    <b-row>
      <b-col md="6" class="my-1"></b-col>
      <b-col md="3" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="3" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ChangePin from '../../components/ChangePin'
import cf from 'currency-formatter'
import moment from 'moment'
export default {
  name: 'MembersDetial',
  components: {
    ChangePin
  },
  data () {
    return {
      fields: [
        { key: 'invoice_no', label: 'Invoice Number', sortable: true, sortDirection: 'desc' },
        { key: 'total_cost', label: 'Total Cost', sortable: true },
        { key: 'status', label: 'Status', sortable: true },
        { key: 'date_created', label: 'Created Date', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['member', 'memberInvoices', 'memberError', 'memberStatus', 'tiers'])
  },
  mounted () {
    // Set the initial number of itemsm
    this.totalRows = this.memberInvoices ? this.memberInvoices.length : this.totalRows
  },
  methods: {
    ...mapActions(['updateMember', 'deleteInvoice']),
    info (id) {
      this.$router.push({ path: `/invoice/${id}` })
    },
    getDate (value) {
      return moment(value)
    },
    // import cf from 'currency-formatter'
    getCurrencyFormat (value, symbol = 'Birr') {
      return cf.format(value, { symbol, decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    showCahngePinModal (data) {
      this.$bvModal.show('bv-modal-changepin')
    },
    getMessageBody (invoice) {
      if (invoice.products) {
        let message = `Dear ${invoice.member.first_name},\nYou have purchased the following products\n`
        for (const product in invoice.products) {
          if (product.product) message += `${product.product.name} (x ${product.qty})\n`
        }
        message += `Total = ${invoice.total_cost}`
        return invoice.member.phone_number + '? body=' + message
      } else return ''
    },
    checkForUpdate () {
      return !!this.member.first_name && !!this.member.last_name && !!this.member.phone_number && !!this.member._id
    },
    onUpdateMember (member, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      this.updateMember(member)
    },
    onDeleteInvoice (invoice, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (invoice._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${invoice.name} Tier!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteInvoice(invoice._id)
            if (!this.invoiceError) {
              this.$swal('Deleted!', `Your ${invoice.name} Invoice has been deleted.`, 'success')
            } else { this.$swal.showValidationMessage(`Request failed: ${this.invoiceError}`) }
            this.onRestart()
          }
        })
      }
    },
    onRestart () {
      this.$store.dispatch('getMember', this.$route.params.id)
      this.$store.dispatch('getMemberInvoices', this.$route.params.id)
    }
  },
  created () {
    this.onRestart()
  }

}
</script>
