<template>
 <div>
  <b-jumbotron :header="tier.name" :lead="'Tier Cost: ' + tier.cost + ' Birr'" class="pb-2">

   </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="tierError.length > 0" @dismissed="$store.commit('CLEAR_TIER_ERROR')">{{tierError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col md="8" sm="6"></b-col>
      <b-col md="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
   <b-table
      show-empty
      outlined
      head-variant="dark"
      striped
      :busy="tierStatus=='loading'"
      stacked="md"
      :items="tierMembers"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

      <template #cell(member)="row">
        {{ row.item.first_name }} {{ row.item.last_name }}
      </template>

      <template #cell(tier)="row">
        {{ row.value.name }}
      </template>

      <template #cell(balance)="row">{{ getCurrencyFormat(row.item.balance) }} Birr</template>

      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

    </b-table>
    <b-row>
      <b-col md="6" class="my-1"></b-col>
      <b-col md="3" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="3" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import cf from 'currency-formatter'

export default {
  name: 'TiersDetial',
  data () {
    return {
      fields: [
        { key: 'member', label: 'Member\'s Name', sortable: true, sortDirection: 'desc', class: 'mr-2' },
        { key: 'phone_number', label: 'Phone Number', sortable: true, class: 'mr-2' },
        { key: 'balance', label: 'Balance', sortable: true, class: 'mr-2' }
      ],
      member: {},
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['tier', 'tierMembers', 'tierError', 'tierStatus'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.tierMembers.length
  },
  methods: {
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    }
  },
  created () {
    this.$store.dispatch('getTier', this.$route.params.id)
    this.$store.dispatch('getTierMembers', this.$route.params.id)
  }

}
</script>
