<template>
 <div>
  <b-jumbotron header="Categories" class="pb-0">
    <hr>
    <b-row class="py-4">
      <b-col sm="10" class="my-1 mx-auto">
        <b-form-group class="mb-2">
          <b-input-group size="md">
            <b-form-input id="category_name" v-model="category.name" placeholder="Add a New Category Name Here"></b-form-input>
            <b-input-group-append>
              <b-button variant="success" :disabled="!category.name" @click="onAddCategory($event)">Add New Category</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
  </b-jumbotron>
     <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="categoryError.length > 0" @dismissed="$store.commit('CLEAR_CATEGORY_ERROR')">{{categoryError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col lg="8" sm="6"></b-col>
      <b-col lg="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="categoryStatus=='loading'"
      stacked="md"
      :items="categories"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
    >

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(quantity)="row">
         {{row.item.products ? row.item.products.length : 0}}
      </template>

      <template #cell(actions)="row">
        <b-button variant="primary" @click="info(row.item._id)" class="mr-2"><b-icon icon="arrows-fullscreen"/></b-button>
        <b-button :variant="row.detailsShowing ? 'danger': 'warning'" @click="row.toggleDetails" class="mr-2"><b-icon :icon="row.detailsShowing ? 'x-circle-fill': 'pencil-square'"/></b-button>
        <b-button variant="danger" @click="onDeleteCategory(row.item, $event)"><b-icon icon="trash"/></b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <blockquote class="blockquote">
            <p class="mb-0">You are about to update the categories value</p>
            <footer class="blockquote-footer">please make sure <cite>before you update</cite></footer>
          </blockquote>
          <b-form inline>
            <label class="sr-only" for="inline-form-input-name">Category Name</label>
              <b-input
                id="inline-form-input-name"
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Category Name"
                v-model="row.item.name"
              ></b-input>
              <b-button :disabled="!row.item.name" variant="primary" @click="onUpdateCategory(row.item, $event)">Update</b-button>
          </b-form>
        </b-card>
      </template>
    </b-table>
    <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Categories',
  data () {
    return {
      fields: [
        { key: 'name', label: 'Category', sortDirection: 'desc' },
        { key: 'quantity', label: 'Type of Product' },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      category: {},
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['categories', 'categoryError', 'categoryStatus'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.categories.length
  },
  methods: {
    ...mapActions(['addCategory', 'deleteCategory', 'updateCategory']),
    info (id) {
      this.$router.push({ path: `/category/${id}` })
    },
    onUpdateCategory (category, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (category.name && category._id) {
        this.updateCategory(category)
      }
    },
    onAddCategory (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (this.category.name) {
        this.addCategory(this.category)
        this.category = {}
      }
    },
    onDeleteCategory (category, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (category._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${category.name} Category!`,
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'No',
          confirmButtonText: 'Yes'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteCategory(category._id)
            if (!this.tierError) {
              this.$swal('Deleted!', `Your ${category.name} Tier has been deleted.`, 'success')
            } else { this.$swal('Oops...', `Request failed: ${this.categoryError}`, 'error') }
            this.$store.dispatch('getAllCategory')
          }
        })
      }
    }
  },
  created () {
    this.$store.dispatch('getAllCategory')
  }

}
</script>
