<template>
 <div>
   <QRModal @onGetResult="onGetQRResult($event)"/>
   <PINModal :member="invoice.member" @onGetValidPin="setPin($event)"/>
  <b-jumbotron class="pb-3">
    <b-row class="py-4">
     <b-col lg="9" md="8"><p class="display-3">Invoices</p></b-col>
     <b-col lg="3" md="4" class="d-flex align-items-end"><b-button block size="lg" variant="success" @click="onAddInvoice($event)">Add Invoice</b-button></b-col>
    </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="invoiceError.length > 0" @dismissed="$store.commit('CLEAR_INVOICE_ERROR')">{{invoiceError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col lg="8" sm="6" class="mr-0">
         <b-form-group class="float-right">
          <b-form-radio-group id="radio-group-2" @change="onFiltered($event)" name="radio-sub-component">
            <b-form-radio value="" checked>All</b-form-radio>
            <b-form-radio value="false">Pending</b-form-radio>
            <b-form-radio value="true">Paid</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="invoiceStatus=='loading'"
      stacked="md"
      :items="invoices"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="query||filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(member)="row">
        {{ row.value.first_name }} {{ row.value.last_name }}
      </template>

      <template #cell(invoice_no)="row">
        INV00{{ row.item.invoice_no }}
      </template>

      <template #cell(item_no)="row">
        x{{ row.item.products.length }}
      </template>

      <template #cell(status)="row">
        {{ row.item.completed? 'COMPLETED': 'PENDING' }}
      </template>

      <template #cell(total_cost)="row">
        {{ getCurrencyFormat(row.item.total_cost) }}
      </template>

      <template #cell(date_created)="row">
        {{ getDate(row.item.date_created).format('ddd, MMM Do YYYY') }}
      </template>

      <template #cell(actions)="row">
        <b-button :variant="!row.item.completed? 'warning':'primary'" @click="info(row.item._id)" class="mr-2"><b-icon :icon="!row.item.completed? 'pencil-square' : 'arrows-fullscreen'"/></b-button>
        <b-button variant="danger" :disabled="row.item.completed" @click="onDeleteInvoice(row.item, $event)" class="mr-2"><b-icon icon="trash"/></b-button>
        <b-button :href="'sms://'+getMessageBody(row.item)" variant="success" class="mr-2"><b-icon icon="envelope-fill"></b-icon></b-button>
        <b-button variant="info" class="mr-2" :disabled="row.item.completed" @click="onGoToPayment(row.item._id, $event)">Bill <b-icon icon="arrow-down-up"/></b-button>
      </template>
    </b-table>
    <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import QRModal from '../../components/QRModal'
import PINModal from '../../components/PINModal'
import cf from 'currency-formatter'
import moment from 'moment'
export default {
  name: 'Invoices',
  components: {
    QRModal,
    PINModal
  },
  data () {
    return {
      fields: [
        { key: 'invoice_no', label: 'Invoice Number', sortable: true, sortDirection: 'desc' },
        { key: 'member', label: 'Member\'s Name', sortable: true },
        { key: 'total_cost', label: 'Total Cost', sortable: true },
        { key: 'item_no', label: 'Item Number', sortable: true },
        { key: 'status', label: 'Status', sortable: true },
        { key: 'date_created', label: 'Created Date', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      invoice: {
        member: '',
        products: [],
        total_cost: null,
        sentPin: ''
      },
      product: {
        product: '',
        qty: null
      },
      query: '',
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: []
    }
  },
  computed: {
    ...mapGetters(['invoices', 'invoiceError', 'invoiceStatus', 'members', 'products'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.invoices.length
  },
  methods: {
    ...mapActions(['addInvoice', 'addCategories', 'deleteInvoice', 'updateInvoice']),
    info (id) {
      this.$router.push({ path: `/invoice/${id}` })
    },
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    getDate (value) {
      return moment(value)
    },
    setPin (event) {
      if (event !== null) {
        console.log('onGetValidPin', event)
        this.invoice.sentPin = event
      }
    },
    onGetQRResult (event) {
      if (event !== null) {
        const mem = this.members.filter(f => f._id === event)
        console.log(mem)
        if (mem.length > 0) {
          this.invoice.member = mem[0]
        }
      }
    },
    onGoToPayment (id, event) {
      event.preventDefault()
      this.$router.push(`invoice/bill/${id}`)
    },
    getMessageBody (invoice) {
      let message = `Dear ${invoice.member.first_name},%0aYou have purchased these products%0a`
      for (const product of invoice.products) {
        message += `> ${product.product.name} (x${product.qty})%0a`
        // console.log('getMessageBody', message)
      }
      message += `Total = ${invoice.total_cost}`
      return invoice.member.phone_number + '?body=' + message
    },

    onAddInvoice (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.$router.push('/addInvoice')
    },
    onDeleteInvoice (invoice, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (invoice._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete INV00${invoice.invoice_no} Invoice!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteInvoice(invoice._id)
            if (!this.invoiceError) {
              this.$swal('Deleted!', `Your ${invoice.name} Invoice has been deleted.`, 'success')
            } else { this.$swal.showValidationMessage(`Request failed: ${this.invoiceError}`) }
            this.$store.dispatch('getAllProduct')
            this.$store.dispatch('getAllMember')
            this.$store.dispatch('getAllInvoice')
          }
        })
      }
    },
    onFiltered (query) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      if (query) {
        this.query = query
        this.filterOn = ['completed']
      } else {
        this.query = ''
        this.filterOn = []
      }
    }
  },
  created () {
    this.$store.dispatch('getAllProduct')
    this.$store.dispatch('getAllMember')
    this.$store.dispatch('getAllInvoice')
  }

}
</script>
