<template>
 <div>
   <ChangeTier :member="memberData"/>
  <b-jumbotron header="Members" class="pb-0">
    <hr>
    <b-row class="py-4">
      <b-col lg="4" class="my-2">
        <b-form-group class="mb-2" label="First Name" label-size="sm" invalid-feedback="Please use only alphabets">
          <b-input-group size="sm">
            <b-form-input v-model="member.first_name" placeholder="Enter First Name"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" class="my-2">
        <b-form-group class="mb-2" label="Last Name" label-size="sm" invalid-feedback="Please use only alphabets">
          <b-input-group size="sm">
            <b-form-input v-model="member.last_name" placeholder="Enter Last Name"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" class="my-2">
        <b-form-group class="mb-2" label="Phone Number" label-size="sm">
          <b-input-group size="sm">
            <b-input-group-prepend><b-button disabled><b-icon icon="telephone-fill" ></b-icon></b-button></b-input-group-prepend>
            <b-form-input v-model="member.phone_number" type="tel" placeholder="Enter Your Phone Number"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" class="my-2">
        <b-form-group class="mb-2" label="PIN Number" label-size="sm">
          <b-input-group size="sm">
            <b-form-input v-model="member.pin" type="password" min="4" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"  placeholder="Enter PIN Number"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" class="my-2">
        <b-form-group class="mb-2" label="Tier" label-size="sm">
            <v-select :options="tiers" v-model="member.tier" label="name" :reduce="tiers => tiers._id" placeholder="Select Tier"></v-select>
        </b-form-group>
      </b-col>
      <b-col lg="4" class="mt-4">
        <b-button size="sm" :disabled="!isMemberValid()" block @click="onAddMember($event)" style="padding-bottom:6px; padding-top:6px;" class="mt-2" variant="success"><small>Add New Member</small></b-button>
      </b-col>
    </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="memberError.length > 0" @dismissed="$store.commit('CLEAR_MEMBER_ERROR')">{{memberError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col lg="2" sm="6"></b-col>
      <b-col sm="6" class="mr-0">
         <b-form-group class="float-right">
          <b-form-radio-group id="radio-group-2" @change="onFiltered($event)" name="radio-sub-component">
            <b-form-radio value="">All</b-form-radio>
            <b-form-radio value="low">Low Balance</b-form-radio>
            <b-form-radio value="debt">In Debt</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </b-col>
      <b-col lg="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="memberStatus=='loading'"
      stacked="md"
      :items="members"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="query||filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(member)="row">
        {{ row.item.first_name }} {{ row.item.last_name }}
      </template>

      <template #cell(balance)="row">{{ getCurrencyFormat(row.item.balance) }}</template>

      <template #cell(tier)="row">
        {{ row.value.name }}
      </template>

      <template #cell(actions)="row">
        <b-row  class="d-flex justify-content-end mr-3">
        <b-button variant="warning" @click="info(row.item._id)" class="mr-2"><b-icon icon="pencil-square"/></b-button>
        <b-button variant="danger" @click="onDeleteMember(row.item, $event)" class="mr-2"><b-icon icon="trash"/></b-button>
        <b-button variant="primary" @click="onGenerateQRs(row.item._id, $event)" class="mr-2">Generate <b-icon icon="upc-scan"/></b-button>
        <b-button variant="success" class="mr-2" @click="showTopUpModal(row.item, $event)">Top-up <b-icon icon="arrow-up"/></b-button>
        </b-row>
      </template>
    </b-table>
    <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ChangeTier from '../../components/ChangeTier'
import Member from '../../api/Member'
import cf from 'currency-formatter'

export default {
  name: 'Members',
  components: {
    ChangeTier
  },
  data () {
    return {
      fields: [
        { key: 'member', label: 'Member\'s Name', sortable: true, sortDirection: 'desc' },
        { key: 'phone_number', label: 'Phone Number', sortable: true },
        { key: 'tier', label: 'Tier', sortable: true },
        { key: 'balance', label: 'Balance', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      member: {},
      memberData: {
        tier: {}
      },
      tier: {},
      query: '',
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: []
    }
  },
  computed: {
    ...mapGetters(['members', 'memberError', 'memberStatus', 'tiers'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.members.length
  },
  methods: {
    ...mapActions(['addMember', 'addCategories', 'deleteMember', 'updateMember', 'onGenerateQR']),
    info (id) {
      this.$router.push(`/member/${id}`)
    },
    // import cf from 'currency-formatter'
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    showTopUpModal (data) {
      this.memberData = data
      this.$bvModal.show('bv-modal-changetier')
    },
    isMemberValid () {
      return !!this.member.first_name && !!this.member.last_name && !!this.member.phone_number && !!this.member.tier && !!this.member.pin
    },
    onAddCategory (event) {
      event.preventDefault()
      if (this.tier.name) {
        this.addCategories(this.tier)
        this.tier = {}
      }
      this.addCategory = !this.addCategory
    },
    onAddMember (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      this.addMember(this.member)
      this.member = {}
    },
    onDeleteMember (member, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (member._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${member.first_name} Tier!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteMember(member._id)
            if (!this.productError) {
              this.$swal('Deleted!', `Your ${member.first_name} Member has been deleted.`, 'success')
            } else { this.$swal.showValidationMessage(`Request failed: ${this.productError}`) }
            this.$store.dispatch('getAllMember')
            this.$store.dispatch('getAllTier')
          }
        })
      }
    },
    onGenerateQRs (id, event) {
      event.preventDefault()
      if (id) {
        this.$swal({
          title: 'Are you sure?',
          text: 'Do you want to Generate QR!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then((result) => {
          if (result.value) {
            Member.generateQR(id).then(value => {
              if (value.data.msg) {
                this.$swal('Generated!', 'Your QR has been generated.', 'success')
              } else {
                this.$swal('Failed to generate', `${value.data.error.message}`, 'error')
              }
            })
          }
        })
      }
    },
    onFiltered (query) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      if (query) {
        this.query = query
        this.filterOn = ['balance_level']
      } else {
        this.query = ''
        this.filterOn = []
      }
    }
  },
  created () {
    this.$store.dispatch('getAllMember')
    this.$store.dispatch('getAllTier')
  }

}
</script>
