<template>
 <div>
  <b-jumbotron header="Products" class="pb-0">
    <hr>
    <b-row class="py-4">
      <b-col md="4" sm="6">
        <b-form-group class="mt-3" label-size="sm"  label="Category">
          <v-select :options="categories" v-model="product.category" label="name" :reduce="category => category._id" placeholder="Select Category"></v-select>
        </b-form-group>
      </b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group class="mb-2" label="Name" label-size="sm" label-for="product_name">
          <b-input-group size="sm">
            <b-form-input id="product_name" v-model="product.name" placeholder="Enter Product Name"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group class="mb-2" label="Cost" label-size="sm" label-for="product_name">
          <b-input-group size="sm">
            <b-form-input v-model="product.cost" type="number" placeholder="Enter Product Cost"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="3" sm="6">
        <b-form-file v-model="csvfile" class="mt-1" plain accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></b-form-file>
        <!-- <div class="mt-3">Selected file: {{ csvfile ? csvfile.name : '' }}</div> -->
      </b-col>
      <b-col md="3" sm="6">
          <b-button size="sm" class="my-2 my-md-1" block :disabled="!csvfile" @click="onImportProduct($event)" variant="info">Import</b-button>
      </b-col>
      <b-col md="3" sm="6">
        <b-button size="sm" block @click="allowAddCategory = !allowAddCategory"  class="my-2 my-md-1" variant="warning">Add New Category</b-button>
      </b-col>
      <b-col md="3" sm="6" >
        <b-button size="sm" :disabled="!isProductValid(product)" block @click="onAddProduct($event)" class="my-2 my-md-1" variant="success">Add New Product</b-button>
      </b-col>
    </b-row>
    <b-row class="my-2" v-if="allowAddCategory">
      <b-col md="4" sm="6">
        <b-form-group class="mb-2" label-for="inline-form-input-name">
          <b-input-group size="sm">
            <b-form-input v-model="category.name" placeholder="Category Name" id="inline-form-input-name"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="2" sm="6">
        <b-button size="sm" block @click="onAddCategory($event)" variant="primary">Add</b-button>
      </b-col>
    </b-row>
  </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="productError" @dismissed="$store.commit('CLEAR_PRODUCT_ERROR')">{{productError}}</b-alert>
    <b-alert show dismissible fade variant="danger" v-if="errors.length > 0"  @dismissed="errors = []">
     <ul>
        <li v-for="(err, index) in errors" :key="index">{{err}}</li>
     </ul>
    </b-alert>
    <b-alert show dismissible fade variant="warning" v-if="warnings.length > 0"  @dismissed="warnings = []">
      <ul>
          <li v-for="(err, index) in warnings" :key="index">{{err}}</li>
      </ul>
    </b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col lg="8" sm="6"></b-col>
      <b-col lg="4" sm="6">
          <b-form-group class="mb-2">
            <b-input-group size="sm">
              <b-form-input type="search" id="filterInput" v-model="filter" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button  :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="productStatus=='loading'"
      stacked="md"
      :items="products"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection">

       <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>getCurrencyFormat

      <template #cell(category)="row">
        {{ row.value.name }}
      </template>

      <template #cell(cost)="row">
        {{ getCurrencyFormat(row.item.cost) }}
      </template>

      <template #cell(actions)="row">
        <b-button :variant="row.detailsShowing ? 'danger': 'warning'" @click="row.toggleDetails" class="mr-2"><b-icon :icon="row.detailsShowing ? 'x-circle-fill': 'pencil-square'"/></b-button>
        <b-button variant="danger" @click="onDeleteProduct(row.item, $event)"><b-icon icon="trash"/></b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <blockquote class="blockquote">
            <p class="mb-0">You are about to update the product value</p>
            <footer class="blockquote-footer">please make sure <cite>before you update</cite></footer>
          </blockquote>
          <b-form inline>
            <b-col><v-select :options="categories" v-model="row.item.category" label="name" :reduce="category => category._id" ></v-select></b-col>
            <label class="sr-only" for="inline-form-input-name">Product Name</label>
              <b-input
                id="inline-form-input-name"
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Product Name"
                v-model="row.item.name"
              ></b-input>

              <label class="sr-only" for="inline-form-input-cost">Product Cost</label>
              <b-input-group prepend="Birr" class="mb-2 mr-sm-2 mb-sm-0">
                <b-input id="inline-form-input-cost" placeholder="Product Cost" v-model="row.item.cost"></b-input>
              </b-input-group>
              <b-button variant="primary" :disabled="!isProductValid(row.item)" @click="onUpdateProduct(row.item, $event)">Update</b-button>
          </b-form>
        </b-card>
      </template>
    </b-table>
   <b-row>
      <b-col md="4" class="my-1"></b-col>
      <b-col md="4" sm="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="4" sm="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import Product from '../../api/Product'
import cf from 'currency-formatter'
export default {
  name: 'Products',
  data () {
    return {
      fields: [
        { key: 'category', label: 'Category', sortable: true },
        { key: 'name', label: 'Product' },
        { key: 'cost', label: 'Cost', sortable: true, sortDirection: 'desc' },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      csvfile: null,
      errors: [],
      warnings: [],
      product: {},
      category: {},
      allowAddCategory: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['products', 'productError', 'productStatus', 'categories'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.products.length
  },
  methods: {
    ...mapActions(['addProduct', 'addCategory', 'deleteProduct', 'updateProduct']),
    ...mapMutations(['SET_PRODUCT_STATUS', 'SET_PRODUCT_ERROR']),
    isProductValid (product) {
      return !!product.name && !!product.cost && !!product.category
    },
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    onAddCategory (event) {
      event.preventDefault()
      if (this.category.name) {
        this.addCategory(this.category)
        this.category = {}
      }
      this.allowAddCategory = !this.allowAddCategory
    },
    onUpdateProduct (product, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (product.name && product.cost && product.category) {
        this.updateProduct(product)
      }
    },
    onImportProduct (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (this.csvfile) {
        const formData = new FormData()
        formData.append('csvfile', this.csvfile)
        Product.upload(formData).then(value => {
          if (value.data.msg) this.$store.commit('SET_PRODUCT_ERROR', value.data.msg)
          else {
            if (value.data.products) {
              this.errors = value.data.errors
              this.warnings = value.data.duplicates
              this.onRestart()
              this.csvfile = null
            }
            this.onRestart()
            this.$swal('Imported', 'Product Imported Successfully', 'success')
          }
        })
      }
    },
    onAddProduct (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (this.product.name && this.product.cost && this.product.category) {
        this.addProduct(this.product)
        this.product = {}
      }
    },
    onDeleteProduct (product, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (product._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${product.name} Tier!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteProduct(product._id)
            if (!this.productError) {
              this.$swal('Deleted!', `Your ${product.name} Product has been deleted.`, 'success')
            } else { this.$swal('Oops..', `Request failed: ${this.productError}`, 'error') }
            this.onRestart()
          }
        })
      }
    },
    onRestart () {
      this.$store.dispatch('getAllProduct')
      this.$store.dispatch('getAllCategory')
    }
  },
  created () {
    this.onRestart()
  }

}
</script>
