<template>
  <div>
    <b-jumbotron header="Tiers" class="pb-0">
      <hr />
      <b-row class="py-3">
        <b-col lg="3" md="6">
          <b-form-group class="mb-2" label="Name" label-size="sm" label-for="tier_name">
            <b-input-group size="sm">
              <b-form-input id="tier_name" v-model="tier.name" placeholder="Enter Tier Name"></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="3" md="6">
          <b-form-group class="mb-2" label="Cost" label-size="sm" label-for="tier_name">
            <b-input-group size="sm">
              <b-form-input v-model="tier.cost" type="number" placeholder="Enter Tier Cost"></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="3" md="6">
          <b-form-group class="mb-2" label="Discount" label-size="sm" label-for="tier_name">
            <b-input-group size="sm">
              <b-form-input
                v-model="tier.discount"
                type="number"
                max="100"
                min="0"
                placeholder="Enter Discount"
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="3" md="6" class="mt-md-3">
          <b-button
            variant="success"
            class="mt-md-4"
            block
            size="sm"
            :disabled="!isTierValid(tier)"
            @click="onAddTier($event)"
          >Add New Tier</b-button>
        </b-col>
      </b-row>
    </b-jumbotron>
    <!-- Error Message Interface controls -->
    <b-alert show dismissible fade variant="danger" v-if="tierError.length > 0" @dismissed="$store.commit('CLEAR_TIER_ERROR')"
    >{{tierError}}</b-alert>

    <!-- Search Interface controls -->
    <b-row>
      <b-col md="8" sm="6"></b-col>
      <b-col md="4" sm="6">
        <b-form-group class="mb-2">
          <b-input-group size="sm">
            <b-form-input
              type="search"
              id="filterInput"
              v-model="filter"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      outlined
      head-variant="dark"
      striped
      :busy="tierStatus=='loading'"
      stacked="md"
      :items="tiers"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
    >
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(discount)="row">{{ row.item.discount }}%</template>

      <template #cell(cost)="row">{{ getCurrencyFormat(row.item.cost) }} Birr</template>

      <template #cell(actions)="row">
        <b-row  class="d-flex justify-content-center">
          <b-button variant="primary" @click="info(row.item)" class="mr-2"> <b-icon icon="arrows-fullscreen" /></b-button>
          <b-button :variant="row.detailsShowing ? 'danger': 'warning'" @click="row.toggleDetails" class="mr-2">
            <b-icon :icon="row.detailsShowing ? 'x-circle-fill': 'pencil-square'" />
          </b-button>
          <b-button variant="danger">
            <b-icon icon="trash" @click="onDeleteTier(row.item, $event)" />
          </b-button>
        </b-row>

      </template>

      <template #row-details="row">
        <b-card>
          <blockquote class="blockquote">
            <p class="mb-0">You are about to update the tier value</p>
            <footer class="blockquote-footer">
              please make sure
              <cite>before you update</cite>
            </footer>
          </blockquote>
          <b-row class="py-3">
            <b-col lg="3" md="6">
              <b-form-group class="mb-2" label="Name" label-size="sm" label-for="tier_name">
                <b-input-group size="sm">
                  <b-form-input
                    id="tier_name"
                    v-model="row.item.name"
                    placeholder="Enter Tier Name"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col lg="3" md="6">
              <b-form-group class="mb-2" label="Cost" label-size="sm" label-for="tier_name">
                <b-input-group size="sm">
                  <b-form-input v-model="row.item.cost" type="number" placeholder="Enter Tier Cost"></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col lg="3" md="6">
              <b-form-group class="mb-2" label="Discount" label-size="sm" label-for="tier_name">
                <b-input-group size="sm">
                  <b-form-input
                    v-model="row.item.discount"
                    type="number"
                    max="100"
                    min="0"
                    placeholder="Enter Discount"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col lg="3" md="6" class="mt-md-3">
              <b-button
                class="mt-md-4"
                block
                size="sm"
                variant="primary"
                :disabled="!isTierValid(row.item)"
                @click="onUpdateTier(row.item, $event)"
              >Update</b-button>
            </b-col>
          </b-row>
        </b-card>
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1"></b-col>
      <b-col md="3" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>

      <b-col md="3" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import cf from 'currency-formatter'
export default {
  name: 'Tiers',
  data () {
    return {
      fields: [
        // { key: '_id', label: 'ID', sortable: true },
        { key: 'name', label: 'Tier', sortable: true, sortDirection: 'desc' },
        { key: 'cost', label: 'Cost', sortable: true },
        { key: 'discount', label: 'Discount', sortable: true },
        { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      tier: {},
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, 20, 25, 30],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  computed: {
    ...mapGetters(['tiers', 'tierMembers', 'tierError', 'tierStatus'])
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.tiers.length
  },
  methods: {
    ...mapActions(['addTier', 'deleteTier', 'updateTier', 'getTierMembers']),
    info (item) {
      this.$router.push(`/tier/${item._id}`)
    },
    getCurrencyFormat (value) {
      return cf.format(value, { symbol: 'Birr', decimal: '.', thousand: ',', precision: 2, format: '%v %s' })
    },
    isTierValid (tier) {
      return !!tier.name && !!tier.cost && !!tier.discount
    },
    onUpdateTier (tier, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (tier.name && tier.cost) {
        this.updateTier(tier)
      }
    },
    onAddTier (event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (this.tier.name && this.tier.cost) {
        this.addTier(this.tier)
        this.tier = {}
      }
    },
    onDeleteTier (tier, event) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      event.preventDefault()
      if (tier._id) {
        this.$swal({
          title: 'Are you sure?',
          text: `Do you want to delete ${tier.name} Tier!`,
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'No',
          confirmButtonText: 'Yes'
        }).then(async (result) => {
          if (result.value) {
            await this.deleteTier(tier._id)
            if (!this.tierError) {
              this.$swal(
                'Deleted!',
                `Your ${tier.name} Tier has been deleted.`,
                'success'
              )
            } else {
              this.$swal(
                'Oops...',
                `Request failed: ${this.tierError}`,
                'error'
              )
            }
            this.$store.dispatch('getAllTier')
          }
        })
      }
    }
  },
  created () {
    this.$store.dispatch('getAllTier')
  }
}
</script>
