<template>
  <div>
    <NavBar :user= 'user' :current="current" />
    <main class="main">
      <slot />
    </main>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar.vue'
export default {
  name: 'DefaultLayout',
  props: ['user', 'current'],
  components: { NavBar }
}
</script>
