<template>
<div>
  <b-modal id="bv-modal-changetier" ref="modal" title="Change Tier"
    header-bg-variant="danger"
    header-text-variant="light"
    hide-footer>
    <b-card v-if="!!member">
      <b-card-title>Current Top-up: {{member? member.tier.name : ''}}</b-card-title>
      <b-card-sub-title class="mb-2"><strong>New Balance: {{tier.cost + member.balance}} </strong></b-card-sub-title>
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group class="mb-2">
            <v-select :options="tiers" v-model="tier" label="name" placeholder="Select New Tier"></v-select>
        </b-form-group>
        <div class="float-right"><b-button type="submit" variant="warning">Update Tier</b-button></div>
      </form>
    </b-card>
  </b-modal>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import Member from '../api/Member'

export default {
  name: 'ChangeTier',
  props: ['member'],
  data () {
    return {
      tier: ''
    }
  },
  computed: {
    ...mapGetters(['tiers'])
  },
  methods: {
    handleSubmit () {
      // Exit when the form isn't valid
      if (!!this.member._id && !!this.tier) {
        this.$swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'No',
          confirmButtonText: 'Yes',
          preConfirm: () => {
            return Member.changeTier({ id: this.member._id, tier: this.tier._id }).then(value => {
              if (value.data.msg) {
                throw new Error(value.data.msg)
              }
              return value
            }).catch(err => this.$swal('Oops...', `Request failed: ${err}`, 'error'))
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then((result) => {
          if (result.isConfirmed) {
            this.$swal({
              icon: 'success',
              title: 'Your tier has been updated',
              showConfirmButton: false,
              timer: 1500
            })
            console.log('this.$emit(updateTopUp)', result.value.data)
            if (result.value.statusText === 'OK') this.$store.dispatch('getAllMember')
            this.$nextTick(() => {
              this.$bvModal.hide('bv-modal-changetier')
            })
          }
        })
      }
    }
  },
  created () {
    this.$store.dispatch('getAllTier')
  }
}
</script>

<style>

</style>
