<template>
  <div>
    <b-modal id="bv-modal-changepin" ref="modal" title="Change PIN"
        header-bg-variant="danger"
        header-text-variant="light"
        hide-footer>
        <b-card v-if="!!member">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group :state="pinState.old" :invalid-feedback="pinMessage.old" label="Old PIN">
              <b-form-input id="pin-input" v-model="pin.old" type="password" :state="pinState.old" placeholder="Enter Old PIN Number" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"></b-form-input>
            </b-form-group>
            <b-form-group :state="pinState.new" :invalid-feedback="pinMessage.new" label="New PIN">
              <b-form-input id="pin-input" v-model="pin.new" type="password" :state="pinState.new" placeholder="Enter New PIN Number"></b-form-input>
            </b-form-group>
            <b-form-group :state="pinState.confirm" :invalid-feedback="pinMessage.confirm" label="Confirm New PIN">
              <b-form-input id="pin-input" v-model="pin.confirm" type="password" :state="pinState.confirm" placeholder="Confirm The New PIN Number"></b-form-input>
            </b-form-group>
            <div class="float-right"><b-button type="submit" variant="warning">Change Pin</b-button></div>
          </form>
        </b-card>
    </b-modal>
  </div>
</template>

<script>
import Member from '../api/Member'

export default {
  name: 'ChangePin',
  props: ['member'],
  data () {
    return {
      pin: {
        new: '',
        confirm: '',
        old: ''
      },
      pinState: {
        new: null,
        confirm: null,
        old: null
      },
      pinMessage: {
        new: '',
        confirm: '',
        old: ''
      }
    }
  },
  methods: {
    checkFormValidity () {
      this.pinState.new = true
      this.pinState.old = true
      this.pinState.confirm = true

      if (!this.pin.new) {
        this.pinMessage.new = 'New PIN is required'
        this.pinState.new = false
      }
      if (!this.pin.old) {
        this.pinMessage.old = 'Old PIN is required'
        this.pinState.old = false
      }
      if (this.pin.confirm !== this.pin.new) {
        this.pinMessage.confirm = 'Your PIN don\'t match'
        this.pinState.confirm = false
      }
      return this.pinState.new && this.pinState.old && this.pinState.confirm
    },
    resetModal () {
      this.pin = { new: '', confirm: '', old: '' }
      this.pinState = { new: null, confirm: null, old: null }
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (this.checkFormValidity() && !!this.member && !!this.pin) {
        this.$swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'No',
          confirmButtonText: 'Yes',
          preConfirm: () => {
            return Member.changePin({ id: this.member, pin: this.pin }).then(value => {
              if (value.data.msg) {
                throw new Error(value.data.msg)
              }
              return value
            }).catch(err => this.$swal.showValidationMessage(`Request failed: ${err}`))
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then((result) => {
          if (result.isConfirmed) {
            this.$swal({
              icon: 'success',
              title: 'Your pin has been updated',
              showConfirmButton: false,
              timer: 1500
            })
            if (result.value.statusText === 'OK') {
              this.$store.dispatch('getMember', this.member)
              this.$store.dispatch('getMemberInvoices', this.member)
            }
            this.resetModal()
            this.$nextTick(() => {
              this.$bvModal.hide('bv-modal-changepin')
            })
          }
        })
      }
    }
  }

}
</script>

<style>

</style>
