<template>
  <div>
  <b-navbar toggleable="lg" type="dark" variant="danger">
    <b-navbar-brand to="/">Wube Berha</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/invoice" :active="current == '/'">Invoice</b-nav-item>
        <b-nav-item to="/member" :active="current.startsWith('/member')">Members</b-nav-item>
        <b-nav-item to="/product" :active="current.startsWith('/product')">Products</b-nav-item>
        <b-nav-item to="/category" :active="current.startsWith('/category')">Categories</b-nav-item>
        <b-nav-item to="/tier" :active="current.startsWith('/tier')">Tiers</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right v-if="user">
          <!-- Using 'button-content' slot -->
          <template #button-content>
                <b-avatar class="mr-3" variant="warning"></b-avatar>
                <span class="mr-auto">{{user.username}}</span>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#" @click="logout">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
export default {
  name: 'NavBar',
  props: ['user', 'current'],
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
    }
  }
}
</script>

<style>
.nav-link {
  color: white!important;
}
.nav-link.active {
 font-weight: bold!important;
}
</style>
