<template>
  <div>
    <b-modal id="bv-modal-pin" ref="modal" title="Submit Your PIN"
      header-bg-variant="danger"
      header-text-variant="light"
      hide-footer>
        <b-card>
          <b-card-text>
              Hi <em>Mr./Miss.</em> <strong>{{member.first_name}} {{member.last_name}}</strong> please enter your pin
          </b-card-text>
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group :state="pinState" :invalid-feedback="error">
              <b-form-input id="pin-input" v-model="pin" type="password" :state="pinState" placeholder="PIN Number" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"></b-form-input>
            </b-form-group>
            <b-button type="submit" class="mr-3" variant="warning">Check Pin</b-button>
          </form>
        </b-card>
    </b-modal>
  </div>
</template>

<script>
import Bcrypt from 'bcryptjs'

export default {
  name: 'PINModal',
  props: ['member'],
  data () {
    return {
      pin: '',
      pinState: null,
      error: ''
    }
  },
  methods: {
    checkFormValidity () {
      this.pinState = this.pin !== null && this.pin !== ''
      this.error = 'PIN is required'
      return this.pinState
    },
    resetModal () {
      this.pin = ''
      this.pinState = null
      this.error = ''
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (this.checkFormValidity() && !!this.member._id && !!this.pin) {
        const check = Bcrypt.compareSync(this.pin, this.member.pin)
        if (check) {
          this.$swal({
            icon: 'success',
            title: 'Your pin is Valid!',
            showConfirmButton: false,
            timer: 1500
          })
          console.log('onGetValidPin', this.pin)
          this.$emit('onGetValidPin', this.pin)
          // Hide the modal manually
          this.resetModal()
          this.$nextTick(() => {
            this.$bvModal.hide('bv-modal-pin')
          })
        } else {
          this.$swal({
            icon: 'error',
            title: 'Your pin is Invalid!',
            showConfirmButton: false,
            timer: 1500
          })
          this.error = 'Your pin is Invalid'
          this.pinState = false
          this.pin = ''
        }
      }
    }
  },
  created () {
    // this.$store.dispatch('getAllInvoice')
  }
}
</script>
