<template>
    <b-modal id="bv-modal-qr"
      header-bg-variant="danger"
      header-text-variant="light"
      hide-footer>
    <template #modal-title>
     <strong>QR CODE SCANNER</strong>
    </template>
    <div class="d-block text-center">
    <qrcode-stream @decode="onDecode" @init="onInit" />
     <p class="error">{{ error }}</p>
    </div>
  </b-modal>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'

export default {
  name: 'QRModal',
  components: { QrcodeStream },

  data () {
    return {
      error: ''
    }
  },

  methods: {
    onDecode (result) {
      if (result) {
        this.$emit('onGetResult', result)
        this.$bvModal.hide('bv-modal-qr')
      }
    },

    async onInit (promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = 'ERROR: you need to grant camera access permisson'
        } else if (error.name === 'NotFoundError') {
          this.error = 'ERROR: no camera on this device'
        } else if (error.name === 'NotSupportedError') {
          this.error = 'ERROR: secure context required (HTTPS, localhost)'
        } else if (error.name === 'NotReadableError') {
          this.error = 'ERROR: is the camera already in use?'
        } else if (error.name === 'OverconstrainedError') {
          this.error = 'ERROR: installed cameras are not suitable'
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = 'ERROR: Stream API is not supported in this browser'
        }
      }
    }
  }
}
</script>
