<template>
 <div class="container" id="app">
   <component :is="layout" :user="authUser" :current="getCurrent">
    <router-view/>
   </component>
 </div>
</template>
<script>
const defaultLayout = 'default'
export default {
  name: 'App',
  computed: {
    layout () {
      return (this.$route.meta.layout || defaultLayout) + '-layout'
    },
    authUser () {
      return this.$route.meta.user || {}
    },
    getCurrent () {
      console.log('this.$route.path', this.$route.path)
      return this.$route.path
    }
  },
  created: function () {
    this.$http.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch('logout')
        }
        throw err
      })
    })
  }
}
</script>
