<template>
  <b-container style="margin-top: 15%;">
  <h1 class="text-center mb-4" >Login</h1>
  <b-row class="justify-content-center">
    <b-col cols="10" lg="4" md="6">
     <b-alert show variant="success" v-if="$route.params.username" dismissible fade>Your are successfuly registered</b-alert>
     <b-alert show variant="danger" v-if="authError || error" dismissible fade class="my-4"  @dismissed="$store.commit('CLEAR_CATEGORY_ERROR', '')">{{authError||error}}</b-alert>

    </b-col>
  </b-row>
  <b-row class="justify-content-center" >
    <b-col cols="10" lg="4" md="6">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
                id="input-group-1"
                label="User Name:"
                label-for="input-1"
            >
                <b-form-input
                id="input-1"
                v-model="form.username"
                :state="usernameState"
                required
                placeholder="Enter User Name"
                aria-describedby="input-live-feedback"
                ></b-form-input>
                <b-form-invalid-feedback id="input-live-feedback">
                  Invalid username, enter at least 4 letters
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group id="input-group-2" label="Password:" label-for="input-2">
                <b-form-input
                id="input-2"
                type="password"
                v-model="form.password"
                :state="passwordState"
                required
                placeholder="Enter Password"
                aria-describedby="input-live-feedback"
                ></b-form-input>
                <b-form-invalid-feedback id="input-live-feedback">
                  Invalid password, enter at least 8 characters
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group id="input-group-4">
                <b-form-checkbox-group id="checkboxes-4">
                 <b-form-checkbox value="me">Remember me</b-form-checkbox>
                </b-form-checkbox-group>
            </b-form-group>
      <b-overlay
        :show="authState == 'loading'"
        rounded
        opacity="0.6"
        spinner-large
        spinner-variant="primary"
        @hidden="authState == 'success' || authState == 'error'">
        <b-button type="submit" block  variant="primary"><strong>Login</strong></b-button>
      </b-overlay>
        </b-form>
        <p class="text-muted text-center mt-4">
           <small>I dont have an Account </small> <b-link to="/register"><strong>Register</strong></b-link>.
        </p>
        <!-- <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card> -->
    </b-col>
  </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      error: '',
      show: true
    }
  },

  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      // console.log(JSON.stringify(this.form))
      this.$store.dispatch('login', this.form).then(() => {
        if (!this.authError) {
          this.$router.push({ name: 'Home', meta: { requiresAuth: true } })
        } else console.log(this.authError)
      }).catch(err => console.log(err))
    },
    onReset (evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.username = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  },
  computed: {
    authState () {
      return this.$store.getters.authStatus
    },
    authError () {
      return this.$store.getters.authError
    },
    usernameState () {
      return this.form.username.length >= 4
    },
    passwordState () {
      return this.form.password.length >= 8
    }

  },
  created () {
    this.form.username = this.$route.params.username || ''
  }
}
</script>
